 <div class="user-details">
  <h1> Hello! Welcome to my portfolio. </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>A beginner in webdesign using html and bootstrap. </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-django-plain colored"></i>
      <i class="devicon-heroku-plain-wordmark colored"></i>
      <p>Advanced knowledge of object-oriented programming using C++ and python. 
         Experience with Django framework and project deployment using Heroku.
      </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-original-wordmark colored"></i>
      <i class="devicon-visualstudio-plain-wordmark colored"></i>
      <i class="devicon-trello-plain colored"></i>
      <p>
        Basic git commandline knowledge with advanced Github experience, 
        using VisualStudio Code as a preferred dev environment. 
        Experience with project management task trackings using Trello.
      </p>
    </div>
</div>
