<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/taskmanage.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Calendar Web Application </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>This is the resulting website that my group and I designed during the semester for our Software Engineering class!</p>
    <a class="project-link" href="https://cpsc362app.herokuapp.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> Development Github Repo </h3>
    <p>This is the Github repo our group used throughout the semester</p>
    <a class="project-link" href="https://github.com/CPSC-362-Group-A/Project-HUB">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> Deployment Github Repo </h3>
    <p>This is the repo used for the live site! Any changes to main will go live automatically.</p>
    <a class="project-link" href="https://github.com/CPSC-362-Group-A/Project-HUB-deploy">Check it out</a>
  </div>
</div>

